
body {
  background-color: #000;
  overflow: hidden;
}

#space {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 1px;
  width: 1px;
  background-color: #fff;
  border-radius: 50%;
  animation: rotate 400s infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#sun {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: no-repeat url("./assets/sun.png") center/ cover;
  box-shadow: 0 0 50px 3px orange, 0 0 700px 3px red;
}

.planet {
  position: absolute;
  border-radius: 50%;
}

#mercury {
  background-color: grey;
  background: no-repeat url("./assets/mercury.png") center/ cover;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 50px 1px #7c2d0f, 0 0 700px 1px #d86721;
}

#venus {
  background: no-repeat url("./assets/venus.png") center / cover;
  width: 75px;
  height: 75px;
  box-shadow: 0 0 40px 1px #fffcd7, 0 0 700px 1px #fffcd7;
}

#earth {
  background: no-repeat url("./assets/earth.png") center/ cover;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 50px 1px #0c2534, 0 0 200px 1px #9fcadd;
}

#mars {
  background: no-repeat url("./assets/mars.png") center/ cover;
  width: 120px;
  height: 120px;
  box-shadow: 0 0 50px 1px #6c2615, 0 0 500px 1px #fabd5e;
}

#jupiter {
  background: no-repeat url("./assets/jupiter.png") center / cover;
  width: 150px;
  height: 150px;
  box-shadow: 0 0 50px 1px #93532b, 0 0 500px 1px #f0e3cd;
}

#saturn {
  background: transparent no-repeat url("./assets/saturn.png") center / cover;
  width: 250px;
  height: 250px;
}

#uranus {
  background: no-repeat url("./assets/uranus.png") center / cover;
  width: 140px;
  height: 140px;
  box-shadow: 0 0 50px 1px #294a4e, 0 0 500px 1px #9ec0c2;
}

#neptune {
  background: no-repeat url("./assets/neptune.png") center / cover;
  width: 130px;
  height: 130px;
  box-shadow: 0 0 50px 1px #0d2d56, 0 0 100px 1px #3b92d1;
}

#moon {
  background: no-repeat url("./assets/moon.png") center/ cover;
  width: 30px;
  height: 30px;
  box-shadow: 0 0 50px 1px #34363f, 0 0 100px 1px #e1e5f0;
}
